@import './base.css';

/* ให้ Bootstrap คุม layout ทั้งหมด */
#app {
  min-height: 100vh;
  font-weight: normal;
}

/* link style (เก็บไว้ได้) */
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}
